#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkblue;
    width: 100%;
}

#navbar div a {
    color: white;
}

#navbar div button {
    color: gold
}

#everything {
    display: flex;
    flex-direction: column;
    align-items: center;
}