.logButton {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .statsTitle {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .songList {
    list-style: decimal;
    padding-left: 20px;
  }
  
  .songLink {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
  }
  
  .createLink,
  .practiceLink {
    color: #e74c3c;
    font-weight: bold;
    text-decoration: none;
  }
  
  .score {
    color: #27ae60;
    font-weight: bold;
  }
  
  .instrumentInfo, #songListDiv {
    background-color: #f2f2f2;
    padding: 16px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .infoHeader {
    font-weight: bold;
    margin-top: 15px;
    color: #3498db;
  }
  
  #songsAndLearningdiv {
    display: flex;
    justify-content: space-between;
  }


  h3, p {
    margin: 0;
  }

  #guitarInfo, #pianoInfo {
    display: inline-block;
    width: 45%; /* Adjust as needed */
    border: 1px solid #ccc; /* For visualization */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px
  }
  

  .mainDiv {
    margin: 20px;
    border: 5px solid burlywood;
    padding: 10px;
    border-radius: 30px;
    background-color: lightblue;
  }