* {
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* notes */
#freestyleUserNotesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
}

.note {
  width: 100px;
  height: 25px;
  background-color: red;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.popup-container, .popup-containerG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup, .popupG {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.infoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
}

.infoPopupContent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* White background for the content */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle shadow */
}

.info-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Adjust the spacing between elements as needed */
  background-color: #f2f2f2; /* Set your preferred background color */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.info-pane p {
  margin: 0; /* Reset default margin */
}

.info-pane select,
.info-pane button {
  padding: 5px 10px; /* Add padding for select and button */
  border: none;
  background-color: #007bff; /* Set your preferred button color */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.info-pane select {
  min-width: 120px; /* Set a minimum width for select elements */
}

#titelDiv {
  display: flex;
  flex-direction: column;
}

#FreestyleInfoPaneDiv {
  position: relative;
  max-width: 800;
  top: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}